@model PepperHouse.Models.ViewModels.MenuItemViewModel
@using PepperHouse.Extensions
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2 class="text-info">Create Menu Item</h2>
<br />

<form method="post" enctype="multipart/form-data">
    <div class="border backgroundWhite">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItem.Name" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="MenuItem.Name" class="form-control" />
            </div>
            <span asp-validation-for="MenuItem.Name" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItem.Description" class="col-form-label"></label>
            </div>
            <div class="col-5">
                @Html.TextAreaFor(m => m.MenuItem.Description)
            </div>
            <span asp-validation-for="MenuItem.Description" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItem.Price" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="MenuItem.Price" class="form-control" />
            </div>
            <span asp-validation-for="MenuItem.Price" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItem.Image" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input type="file" name="files" multiple class="form-control" />
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItem.CategoryID" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="@Model.MenuItem.CategoryID" id="CategoryID" asp-items="Model.Category.ToSelectListItem(Model.MenuItem.CategoryID)" class="form-control"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItem.SubCategoryID" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="@Model.MenuItem.SubCategoryID" name="SubCategoryID" id="SubCategoryID" asp-items="@(new SelectList(string.Empty, "ID", "Name"))" class="form-control"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="MenuItem.Hotness" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="MenuItem.Hotness" asp-items="Html.GetEnumSelectList<MenuItem.EHot>()" class="form-control"></select>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_CreateAndBackToListButton" />
            </div>
        </div>
    </div>
</form>


@section Scripts{ 
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: "lists",
            menubar: 'file edit format'
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            getSubCategory();
            $('#CategoryID').change(function () {
                getSubCategory();
            });
        });

        function getSubCategory() {
            var url = '@Url.Content("~/")' + "Admin/SubCategory/GetSubCategory";
            var ddlsource = '#CategoryID';
            $.getJSON(url, { id: $(ddlsource).val() }, function (data) {
                var items = '';
                $('#SubCategoryID').empty();
                $.each(data, function (i, subcategory) {
                    items += "<option value='" + subcategory.value + "'>" + subcategory.text + "</option>";
                });

                $('#SubCategoryID').html(items);
            })
        }
    </script>

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}